<script type="text/javascript">
	window.threadViewerConfig = {
		"rootPath" : "${rootPath}" 
	};
</script>

<style>
.tablesorter {
	width: 100%
}
.tablesorter td.thread-name {
	padding-left: 10px
}
.tablesorter td.thread-name div.thread-name {
	cursor: pointer
}
</style>


<script type="text/javascript" src="${rootPath}/underscore-min.js"></script>
<script type="text/javascript" src="${rootPath}/backbone.js"></script>
<script type="text/javascript" src="${rootPath}/threadviewer.js"></script>

<p class="statline ui-state-highlight"></p>

<div id="cnt-thread-list"></div>

<script type="text/template" id="tmpl-thread-list">
	<table class="tablesorter">
		<thead>
			<tr>
				<th class="ui-widget-header header">Thread Name</th>
				<th class="ui-widget-header header">State</th>
				<th class="ui-widget-header header">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% threads.forEach(function(thr) { %>
			<tr class="ui-state-default">
				<td class="thread-name">
					<div class="thread-name"><%= thr.get("name") %></div>
				</td>
				<td><%= thr.get("state") %></td>
				<td>
					<ul class="icons ui-widgets">
						<li class="dynhover ui-state-default ui-corner-all" title="Interrupt">
							<span class="ui-icon ui-icon-stop"></span>
						</li>
					</ul>
				</td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</script>

<script type="text/template" id="tmpl-stacktrace">
	<table>
		<thead>
			<tr>
				<th>Class</th>
				<th>Method</th>
				<th>Line</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(stackTrace, function(entry) { %>
			<tr>
				<td><%= entry.className %></td>
				<td><%= entry.methodName %></td>
				<td><%= entry.lineNumber %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</script>